@import url('https://fontlibrary.org//face/liberation-sans-unofficial-opentype-cff-version');

:root {
    --fallback-fonts: 'Courier New', Courier, monospace;
    --sidebar-font-family: 'LiberationSansBold', var(--fallback-fonts);
}

body {
    display: grid;
    grid-template-columns: clamp(200px, 20%, 260px) auto;
    grid-template-rows: 1fr 5fr;

    margin: 0;
}

.sidebar {
    background-color: rgb(44, 157, 202);
    grid-area: 1 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;

    font-family: var(--sidebar-font-family);
    font-size: 1rem;
    color: white;

    --sidebar-base-padding: 2em;
    padding: var(--sidebar-base-padding);
    /* padding-right: calc(var(--sidebar-base-padding) * 2); */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-icon {
    width: 3em;
    height: 3em;
}

/* .sidebar > * {
    --sidebar-padding: 1em;
    padding: var(--sidebar-padding);
    padding-right: calc(var(--sidebar-padding) * 2);
} */

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.navigation-bar > ul,
.footer > ul {
    display: grid;
    row-gap: 0.5em;
}
p {
    margin: 0;
    padding: 0;
}

.navigation-bar li,
.footer li {
    display: flex;
    align-items: flex-start;
    column-gap: 1em;
}

.sidebar li,
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon {
    width: 1em;
    display: inline-block;
    fill: white;
}

.header {
    background-color: aliceblue;
    grid-area: 1 / 2 / 2 / -1;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    padding: 1.5em;
}

.search-bar img {
    width: var(--avatar-size);
    flex: 0;
}

.search-input-field {
    flex: 1;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    width: clamp(100px, 40%, 560px);
    column-gap: .5em;
    align-items: center;
}

input[type="search"] {
    padding: 0;
    margin: 0;
}

.notifications {
    width: min(var(--avatar-size), 30px);
}

.header-top-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 1em;
    align-items: center;
    --avatar-size: 1.5em;
}

.user-avatar {
    width: var(--avatar-size);
}

img {
    max-width: 100%;
}

.header-lower-bar {
    display: grid;
    grid-template-columns: calc(1fr * .85);
    grid-auto-flow: column;
}


.welcome-information {
    height: 100%;
    display: flex;
    column-gap: 1em;
}
.welcome-information .user-avatar {
    width: min(4em, 80px);
}
.welcome-message {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}
.welcome-message p {
    font-size: 1em;
}
.current-username-with-id {
    font-size: 1.5em;
    font-weight: bold;
}

.utility-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;;
    align-items: center;
}
.utility-buttons > button {
    height: 50%;
}


.content {
    background-color: grey;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project {
    grid-row-end: -1;
    grid-column-end: -2;
}

.announcements {
    grid-column-start: -2;
    grid-row-start: -2;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}